/* 
    for loop text red, list border red
    iitem border black
    foreach: text blue, list border blue
    map: text pink, list border pink
 */
/*
.for-loop {
  color:red;
}
.for-loop .loop-list {
  border: 5px solid red;
}
.for-loop .loop-item, .foreach-loop .loop-item {
  border: 5px solid black;
}

.foreach-loop .loop-list{
  color:blue;
  border: 5px solid blue;
}
*/

