
.for-loop, .foreach-loop {
    color:red;
    .loop-list {
        border: 5px solid red;
        .loop-item {
            border: 5px solid black;
        }
    }
}
/*css selector*/
.foreach-loop .loop-list{
    border: 5px solid blue;
    color:blue;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .employee {
        height:200px;
        width:250px;
        border: 2px solid black;
        font-family: Helvetica;
        text-align: center;
        font-size: 25px; 
        background-color: orange;
        
        .name {
            color: blue;
            font-size:30px;
        }
    }
    .divContainer {
        border: 5px solid black;
        width: 80%;
        margin: auto;
        min-height: 250px;
    }
}
